<mat-nav-list>
    <a class="side_menu" mat-list-item routerLinkActive="list-item-active" routerLink="/"><i class="fa fa-home"></i>Dashboard</a>
    <!-- require work -->
    <a class="side_menu" mat-list-item routerLinkActive="list-item-active" routerLink="/items"><i class="fa fa-shopping-basket"></i>Items</a>
    <a class="side_menu" mat-list-item routerLinkActive="list-item-active" routerLink="/sales"><i class="fa fa-shopping-cart"></i>Sales Order</a>
    <a class="side_menu" mat-list-item routerLinkActive="list-item-active" routerLink="/purchase"><i class="fa fa-shopping-bag"></i>Purchase Order</a>
    <a class="side_menu" mat-list-item routerLinkActive="list-item-active" routerLink="/product_form"><i class="fa fa-shopping-bag"></i>product_form Order</a>



    <!-- <button mat-button (click)="authService.redirect('restock_form')" *ngIf="['admin', 'manager'].indexOf(Role) !== -1">Restock Form</button>
    <button mat-button (click)="authService.redirect('restock')" *ngIf="['admin', 'manager'].indexOf(Role) !== -1">Restock List</button>
    <button mat-button (click)="authService.redirect('product_form')">Product Form</button>
    <button mat-button (click)="authService.redirect('product')">Product List</button>
    <button mat-button (click)="authService.redirect('order_form')">Order Form</button>
    <button mat-button (click)="authService.redirect('order')">Order List</button> -->



<!-- 
    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>