<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Item List</h1>
</div>
<div class="mat-elevation-z8">
    <app-widget-table [tableData]="tableData" [columnHeader]="columnHeader"></app-widget-table>
</div>


 <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
 <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
     <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
       <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnHeader[tableData]}}</th>
       <td mat-cell *matCellDef="let element"> {{element[tableData] }}</td>
     </ng-container>
   
     <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
     <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);"></tr>
 </table> -->

<!-- 
 <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="product_no">
      <th mat-header-cell *matHeaderCellDef> Product ID </th>
      <td mat-cell *matCellDef="let element"> {{element.product_no}} </td>
    </ng-container>

    <ng-container matColumnDef="product_name">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Sale Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element; let i = index;">
        <button mat-raised-button color="primary" class="push-right"
          [routerLink]="['/edit-book/', element.$key]">Edit</button>
          <button mat-raised-button color="accent" (click)="DeleteProduct(i, element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  -->